<div class="container vpad--xxl">
  <div class="width width--xl boxpad--xl bg--promo text--blue">
    <div class="row row--start">
      <div class="col col--7">
        <div class="vpad--sm">
          <h3 class="title title--color title--xs">Exclusive House of ELEMIS offer for Secret Escapes members</h3>
          <p class="text--normal">Book any 60-minute treatment at The House of ELEMIS and get an exclusive 20% off!</p>
          <p class="text--normal">Make sure you quote “<strong>Secret Escapes</strong>” when you book to claim your discount.</p>
          <div class="vpad--xxs"></div>
          <a id="track-{{page.id}}-promo-btn" href="https://click.linksynergy.com/deeplink?id=rg1rVdkt0EQ&mid=42744&murl=https%3A%2F%2Fwww.elemis.com%2Fhouse-of-elemis-booking-enquiry" class="btn btn--sm btn--blue">MAKE A BOOKING ENQUIRY</a>
        </div>
      </div>
    </div>
  </div>
</div>