// general styles for the project that wouldn't be a reuseable component

.logo-banner {
  padding-left: $s-2;
  padding-right: $s-2;
  max-width: 550px;
  @include bp($xxl) { max-width: 680px; }
 }

 .bg--promo {
   background-color: #fde8d6;
   background-image: url('../img/content/the-house-of-elemis/offer-mobile.jpg');
   @include background-attributes;
   @include bp($lg) {
     background-image: url('../img/content/the-house-of-elemis/offer.jpg');
   }
 }

.border { border-bottom: 5px solid $el-blue; }

.promo-code {
  padding: $s-1 $s2;
  letter-spacing: .1rem;
  font-weight: 700;
  font-size: $s0;
  word-break: break-all;
  border: 2px solid #d1dbe6;
}

.dont-break-hyphen {
  white-space: nowrap;
}